@use "base/variables" as v;
@use "base/mixins" as m;

.foto {
    background-image: image-set(
        url("../img/pgmc.avif") type("image/avif"),
        url("../img/pgmc.webp") type("image/webp"),
        url("../img/pgmc.jpg") type("image/jpeg")
        );
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
    background-position: center center;

    &__contenido {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        h2,
        p {
            color: v.$blanco;
        }
    }
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
}

.main {
    background-color: v.$principal;
    color: v.$blanco;
    padding: 2rem;
    border-radius: 2rem;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-weight: 400;
    }

    p {
        line-height: 2;
        text-align: center;
    }
    
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }


    &__servicio {
        background-color: v.$negro;
        margin: 1rem;
        border-radius: 2rem;
        padding: 1rem;
    
        .icono {
                height: 15rem;
                width: 15rem;
                background-color: v.$secundario;
                border-radius: 50%; /* circulo **/
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
        }
    }
}