@use "base/variables" as v;
@use "base/mixins" as m;

.boton {
  background-color: v.$principal;
  color: v.$blanco;
  text-decoration: none;
  padding: 1rem 3rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
  
  @include m.tablet {
      width: auto;
  }
  
  &:hover {
      background-color: v.$secundario;
      color: v.$negro;
  }

  &--form {
    width: 100%;
  }

  &--contacto {
    width: 100%;
    background-color: v.$negro;
    color: v.$secundario;
    
    @include m.tablet {
      width: auto;
    }
    
    &:hover {
      background-color: v.$blanco;
      color: v.$principal;
      cursor: pointer;
    }
  }

  &--principal,
  &--form {
    
    &:hover {
      background-color: v.$negro;
      color: v.$secundario;
      cursor: pointer;
    }
  }

  &--proyecto {
    background-color: v.$secundario;
    color: v.$negro;

    &:hover {
      background-color: v.$blanco;
      color: v.$principal;
    }
  }
}