@use "base/variables" as v;
@use "base/mixins" as m;

header {
    background-color: v.$secundario;
}

.logo {
    text-decoration: none;
    color: v.$negro;
}

h1, h2, h3 {
    text-align: center;
}

.nav-bg {
    background-color: v.$principal;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion-principal {
    display: flex;
    flex-direction: column;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        color: v.$blanco;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1rem;
        display: block;
        align-items: center;

        &:hover {
            background-color: v.$negro;
            color: v.$secundario;
        }
    }

    .activo {
            background-color: v.$negro;
            color: v.$secundario;
        }
}