@use "base/variables" as v;
@use "base/mixins" as m;

.menu-redes {
  @include m.menu_social(v.$blanco, 2rem);
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0 0 2rem 0;

  &__ocultar {
        display: none;
  }
}